body{
    background-color: #87CEEB;
}
#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: whitesmoke;
  border: 4px solid #333;
  margin: 200px auto;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  box-shadow: 20px 15px 20px rgb(42, 38, 38);
}

#house > div {
  position: absolute;
}

#roof {
  top: 0;
  left: 0;
  width: 500px;
  height: 100px;
  background-color: #9c3a3a;
  border: 3px solid #000;
}

#chimney {
  top: -101px;
  left: 60px;
  width: 120px;
  height: 100px;
  background-color: #555;
  border: 2px solid #000;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
#chimney div{
    border: 1px solid black;
    height: 100%;
}

#window-1 {
  top: 130px;
  left: 80px;
  width: 80px;
  height: 60px;
  background-color: #add8e6;
  border: 2px solid #000;
  border-radius: 20%;
  
}

#window-2 {
  top: 130px;
  right: 80px;
  width: 80px;
  height: 60px;
  background-color: #add8e6;
  border: 2px solid #000;
  border-radius: 20%;
}

#door {
  bottom: 0;
  left: 210px;
  width: 80px;
  height: 120px;
  background-color: #654321;
  border: 3px solid #000;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
#sun{
    border-radius: 50%;
    position: absolute;
    width: 300px;
    height: 300px;
    top: -120px;
    left: -120px;
    background-color: yellow;
    box-shadow: 15px 15px 15px rgb(159, 159, 105);
}
#coal1{
    border-radius: 80%;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 585px;
    top: 65px;
    background-color: rgb(194, 182, 182);
    box-shadow: 5px 5px 3px rgb(226, 221, 221);
}
#coal2{
    border-radius: 80%;
    width: 40px;
    height: 20px;
    position: absolute;
    left: 595px;
    top: 35px;
    background-color: rgb(196, 190, 190);
    box-shadow: 2px 2px 3px rgb(226, 221, 221);
}
#cloud1{
    border-radius: 50%;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 995px;
    top: 65px;
    background-color: rgb(220, 218, 218);
    box-shadow: 2px 2px 3px rgb(226, 221, 221);
}
#cloud2{
    border-radius: 50%;
    width: 130px;
    height: 80px;
    position: absolute;
    left: 1060px;
    top: 50px;
    background-color: rgb(220, 218, 218);
    box-shadow: 2px 2px 3px rgb(226, 221, 221);
}
#cloud3{
    border-radius: 50%;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 1150px;
    top: 65px;
    background-color: rgb(220, 218, 218);
    box-shadow: 2px 2px 3px rgb(226, 221, 221);
}
