* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: white;
  color: black;
  padding-top: 80px;
  
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  box-shadow: 0 2px 10px rgba(243, 240, 240, 0.1);
  z-index: 1000;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

.nav-links a:hover {
  color: #0b3d91;
}
.logo{
  color: #f2eeee;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
hr{
    margin: 20px 0;
}
/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.hero h1 {
  margin-top: 15px;
  font-size: 32px;
}

.hero p {
  color: #555;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 2px 2px  3px rgb(26, 8, 8);
  border: 2px solid rgb(84, 70, 70);
  color: rgb(56, 56, 154)
}
section:hover{
  transition: 1s ease-in-out;
  transform: scale(1.1); 
  background-color: #e4e8ed;
  box-shadow: 2px 2px 3px rgb(234, 227, 227);
}

h2 {
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 15px;
  
  display: inline-block;
}

/* SKILLS */
.skills-list {
  list-style: square;
  margin-left: 20px;
}

/* PROJECTS */
.project-card {
  background: rgb(231, 226, 226);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  color: white;
}
.project-card:hover{
  box-shadow: 3px 3px 3px rgb(132, 116, 116);
  color: #555;
  background-color: rgb(212, 200, 200);
  transform: skew(-4deg);
}

/* PAGES */
.page-content {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #282424;
  margin-top: 40px;
}
.projects{
    margin: 20px 20px;
    border: 1px solid #0b3d91;
    border-radius: 3px;
    width: 30%;
    padding: 10px 10px;
}
h3{
  color: rgb(14, 0, 0);
}
.home_project{
   color: rgb(15, 1, 1);
}
a{
  cursor: pointer;
}
.social-links a {
  font-size: 20px;
  margin-right: 15px;
  color: #7c7474;
  text-decoration: none;
  z-index: 1000;
  display: flex;
  justify-content: flex-start; /* center horizontally */
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  flex-direction: row; 
}

.social-links a:hover {
  color: #0077b5;
}




